-# encoding: utf-8

.row
  .hero-unit.hero-unit-no-margin
    .container
      .span12
        .background(aria-hidden="true")
          %i.icon-info-sign
        %h1 À propos
        %p.lead
          Insomniie pour la Nuit de l'Info

#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      = image_tag "bann2.jpg"
      .carousel-caption
        .container
          %h4
            Une équipe de choc !
          %p
            Tous venus de l'ENSIIE Strasbourg, nous sommes tous les six prêts à relever les défis sur le Web, iPhone et Android.
    .item
      = image_tag "bann1.jpg"
      .carousel-caption
        .container
          %h4
            C'est parti pour toute la nuit !
          %p
            La Nuit de l'Info 2012 promet d'être très longue...
    .item
      = image_tag "bann3.jpg"
      .carousel-caption
        .container
          %h4
            Promotion du patrimoine français !
          %p
            C'est le thème de la Nuit.
    .item
      = image_tag "bann4.jpg"
      .carousel-caption
        .container
          %h4
            Trois applications en une !
          %p
            Non seulement vous aurez droit à une application Ruby On Rails
            %em responsive
            , mais également deux applications pour iPhone et Android !
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-group
          Notre équipe
.row
  .container
    %ul.thumbnails.masonry.clearfix
      %li.span4
        .thumbnail
          = image_tag "seb.jpg"
          .caption
            %h3
              Sébastien Azimi
            %p.lead
              Développeur
              %em frontend
            %p
              Développeur passionné de technologies Web et soucieux de l'expérience utilisateur, Sébastien se chargera de rendre votre séjour sur notre site le plus agréable possible.
      %li.span4
        .thumbnail
          = image_tag "lucas.jpg"
          .caption
            %h3
              Lucas Bee
            %p.lead
              Intermittent du dev
            %p
              Les abeilles butinent nuit et jour dans mon cerveau à m'en donner des InsomnIIEs.
      %li.span4
        .thumbnail
          = image_tag "adrian.jpg"
          .caption
            %h3
              Adrian Bracigliano
            %p.lead
              Développeur Android
            %p
              Il est l'italien du groupe. Du code spaghetti, il en fait qu'une bouchée. À force de passer ses journées à développer sur Android, il s'est pris d'affection pour les petits robots verts qu'il considère comme ses meilleurs amis.
      %li.span4
        .thumbnail
          = image_tag "paul.jpg"
          .caption
            %h3
              Paul Chobert
            %p.lead
              Développeur
              %em backend
            %p
              Coder toute une nuit ? Trop facile, c'est le quotidien de Paul qui bien qu'étudiant en France, vie déjà dans la timezone de NYC où il rêve de partir travailler.
              Paul ♥
      %li.span4
        .thumbnail
          = image_tag "fadoua.jpg"
          .caption
            %h3
              Fadoua Kawni
            %p.lead
              Développeur HTML5, photographe, et plus encore
            %p
              Je suis là pour m'amuser et pour gagner ! Je vais faire tellement de bruit que vous en aurez des Insomniies !
      %li.span4
        .thumbnail
          = image_tag "ph.jpg"
          .caption
            %h3
              Paul-Henri Koeck
            %p.lead
              Développeur iOS
            %p
              Développeur iOS à ses heures perdues, sa spécialité reste l'enfonçage de portes ouvertes. D'habitude il ne mord pas. Qui sait cependant ce qu'un état de fatigue avancé peut provoquer sur un esprit aussi instable qu'une toupie en équilibre sur le dos d'un éléphant enrhumé ? En cas d'urgence, un coup sec derrière la nuque devrait le calmer.
      %li.span4
        .thumbnail
          = image_tag "leo.jpg"
          .caption
            %h3
              Léo Unbekandt
            %p.lead
              Développeur itinérant
            %p
              Miaou Miaou dit le chat,
              Bbbvvvvv fait la photocopieuse,
              Miaaabbbvvvv fait la copycat !
              Grand, poilu tel un kiwi, tout est ok pour l'insomniie.

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-map-marker
          Où nous trouver ?
          %small
            Grâce à
            = link_to 'http://mapbox.com' do
              MapBox
.row
  %iframe{:frameBorder => "0", :height => "300", :src => "http://a.tiles.mapbox.com/v3/suruja.map-asz3cimi.html#11/48.575368052903045/7.759688963134783", :width => "100%"}

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-trophy
          Pourquoi nous allons gagner
.container
  .row
    .span4
      %h3
        %i.icon-bolt.icon-large
        Technologies de pointe
      %p.lead
        Ruby On Rails, iOS, Android
      %p
        Parce que nous sommes passionnés de nouvelles
        technologies, nous mettons en avant celles auxquelles
        nous croyons.
    .span4
      %h3
        %i.icon-group.icon-large
        Équipe de choc
      %p.lead
        7 développeurs passionnés
      %p
        Le travail ne nous fait pas peur. Nous ferons tout ce que nous pouvons
        (et plus encore) pour atteindre notre objectif : obtenir une application
        utile, simple d'utilisation et jolie. Ne nous dites pas que c'est impossible,
        nous sommes têtus comme des mules.
    .span4
      %h3
        %i.icon-heart.icon-large
        Fait avec amour
      %p.lead
        Nos applis sont faites pour vous
      %p
        Nous aimons le travail bien fait et nous attachons une grande importance
        à l'expérience utilisateur. Nous espérons donc que vous apprécierez votre
        navigation sur nos applis.

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-screenshot
          Les défis que nous allons relever
.container
  .row
    .span12
      %ul.thumbnails.masonry.clearfix
        %li.span3
          .thumbnail
            = image_tag "abase.gif"
            .caption
              %h3
                Abase
        %li.span3
          .thumbnail
            = image_tag "actimage.png"
            .caption
              %h3
                Actimage
        %li.span3
          .thumbnail
            = image_tag "arduinnova.jpg"
            .caption
              %h3
                Arduinnova
        %li.span3
          .thumbnail
            = image_tag "atos.jpg"
            .caption
              %h3
                Atos
        %li.span3
          .thumbnail
            = image_tag "cci_sud_alsace_mulhouse.jpg"
            .caption
              %h3
                CCI Sud Alsace Mulhouse
        %li.span3
          .thumbnail
            = image_tag "femmes_du_numerique.jpg"
            .caption
              %h3
                Femmes du Numérique
        %li.span3
          .thumbnail
            = image_tag "human_coders.png"
            .caption
              %h3
                Human Coders
        %li.span3
          .thumbnail
            = image_tag "infotel.png"
            .caption
              %h3
                Infotel
        %li.span3
          .thumbnail
            = image_tag "inria.jpg"
            .caption
              %h3
                Inria
        %li.span3
          .thumbnail
            = image_tag "lif.png"
            .caption
              %h3
                LIF
        %li.span3
          .thumbnail
            = image_tag "logica.png"
            .caption
              %h3
                Logica Est
        %li.span3
          .thumbnail
            = image_tag "logica.png"
            .caption
              %h3
                Logica Paris
        %li.span3
          .thumbnail
            = image_tag "logica.png"
            .caption
              %h3
                Logica Toulouse
        %li.span3
          .thumbnail
            = image_tag "open.png"
            .caption
              %h3
                Open
        %li.span3
          .thumbnail
            = image_tag "rhenatic.png"
            .caption
              %h3
                Rhenatic
        %li.span3
          .thumbnail
            = image_tag "super_original.jpg"
            .caption
              %h3
                Super Original
        %li.span3
          .thumbnail
            = image_tag "super_twitter.jpg"
            .caption
              %h3
                Super Twitter
        %li.span3
          .thumbnail
            = image_tag "viveris.png"
            .caption
              %h3
                Viveris
        %li.span3
          .thumbnail
            = image_tag "zenika.jpg"
            .caption
              %h3
                Zenika


.page-header
  .container
    %h2
      %i.icon-twitter.icon-large
      On parle de nous sur Twitter !

.container
  .row
    %ul.thumbnails.masonry.clearfix
      - application_tweets{ Twitter.home_timeline }.each do |tweet|
        %li.span3
          .span1.center
            %img{src: tweet.user.profile_image_url, class: 'circle'}
          .span2.no-space
            %strong
              = tweet.user.name
              a dit #{l tweet.created_at, format: :short}&nbsp;:
            %p
              != auto_link strip_tags(tweet.text)

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-book
          Des insomnies ? Lisez sur le sujet !
        %p
          Les produits sont récupérés dynamiquement d'Amazon Product Advertising API et sont les résultats de recherches sur le sommeil ou sur l'insomnie, aléatoirement.
.container
  .row
    .span12
      - amazon_books = amazon_books_for(%w{insomnie sommeil}.sample)
      - if amazon_books.empty?
        %em Aucun résultats reçus de la part d'Amazon. Une erreur est peut-être survenue. Essayez de recharger la page.
      - else
        %ul.thumbnails.masonry.clearfix
          - amazon_books.each do |book|
            %li.span3
              .thumbnail
                = image_tag book[:image]
                .caption
                  %h3
                    = book[:title]
                  %p.lead
                    = book[:author]
                  %small
                    Le neuf le moins cher est à
                    = book[:price]
                  = link_to book[:url], target: "_blank", class: "btn btn-primary" do
                    %i.icon-link
                    Voir le produit sur Amazon

.footer
  .container
    .row
      .span4
        .page-header
          %h3
            Suivez-nous sur les réseaux sociaux !
        %p.social-bookmarks
          = link_to 'https://www.facebook.com/insomniie' do
            %i.icon-facebook.icon-large.circle
          = link_to 'https://twitter.com/InsomnllE' do
            %i.icon-twitter.icon-large.circle
