-# encoding: utf-8
.container
  .row
    .offset3.span6
      .primary-search
        - if notice or alert
          - if notice
            .alert.alert-success
              = notice
          - if alert
            .alert.alert-error
              = alert
        %h1
          %i.icon-globe
          Préparez votre prochain séjour&nbsp;!
        = form_for Trip.new, url: journey_path, method: :get do |f|
          = f.text_field :city, class: "typeahead", placeholder: "Entrez une ville", autocomplete: "off"
          = f.submit "Partez !", class: "btn btn-warning"
  .row
    .offset3.span6
      .friends

:coffeescript
  jQuery ->
    $.get '/friends', (friendsTemplate) ->
      $('.friends').html friendsTemplate
