-# encoding: utf-8
.container
  .row
    .offset3.span6
      .primary-search
        - if notice or alert
          - if notice
            .alert.alert-success
              = notice
          - if alert
            .alert.alert-error
              = alert
        %h1
          %i.icon-globe
          Préparez votre prochain séjour&nbsp;!
        = form_for Trip.new, url: journey_path, method: :get do |f|
          = f.text_field :city, class: "typeahead", placeholder: "Entrez une ville", autocomplete: "off"
          = f.submit "Partez !", class: "btn btn-warning"

      - if user_signed_in?
        .page-header
          %h2
            %i.icon-group
            Découvrez la France avec vos amis
        .friends.home-friends
          .spinner
            = image_tag "spinner.gif"
      - else
        .page-header
          %h2
            %i.icon-group
            Découvrez la France avec vos amis en vous connectant sur Facebook
        = link_to user_omniauth_authorize_path(:facebook), class: "btn btn-large btn-block btn-info" do
          %i.icon-facebook-sign
          Se connecter avec Facebook
