-# encoding: utf-8
.row
  .hero-unit
    .container
      .span12
        .background(aria-hidden="true")
          %i.icon-globe
        %h1
          Votre visite de
          = @journey.city
        %p.lead
          Carnet de route pour passer une super journée
        - if @journey.city.downcase == "strasbourg"
          = link_to asset_path("strasbourg.html"), class: "btn btn-warning" do
            %i.icon-user
            Journées des utilisateurs
          = link_to "#", class: "btn btn-primary" do
            %i.icon-plus-sign
            &nbsp;Créer une journée dans cette ville

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-globe
          La journée que nous vous avons préparée

.container
  .row
    .span8
      %ul.journey
        - @journey.details.each do |step|
          %li.row.journey-step
            .span1
              .journey-time-container
                .journey-time
                  = step.time
            .span7
              %h4
                = step.venue.name
              %p
                = step.category
    .span4
      #map
    - wiki = get_preview_from_wikipedia_for @journey.city
    .span4
      .wikipedia
        %h3
          %i.icon-book
          Un peu d'histoire...
        - unless wiki[:large_image].blank?
          %p
            = image_tag wiki[:large_image]
        %p
          = wiki[:description]

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-book
          Préparez votre séjour en lisant sur le sujet
.container
  .row
    .span12
      - amazon_books = amazon_books_for(@journey.city)
      - if amazon_books.empty?
        %em Aucun résultats reçus de la part d'Amazon. Une erreur est peut-être survenue. Essayez de recharger la page.
      - else
        %ul.thumbnails.masonry.clearfix
          - amazon_books.each do |book|
            %li.span2
              .thumbnail
                = image_tag book[:image] if book[:image].present?
                .caption
                  %h3
                    = book[:title]
                  %p.lead
                    = book[:author]
                  %small
                    Le neuf le moins cher est à
                    = book[:price]
                  = link_to book[:url], target: "_blank", class: "btn btn-primary" do
                    %i.icon-link
                    Voir le produit sur Amazon
