-# encoding: utf-8
.row
  .hero-unit
    .container
      .span12
        .background(aria-hidden="true")
          %i.icon-globe
        %h1
          Votre visite de
          = @journey.city
        %p.lead
          Carnet de route pour passer une super journée
        - if @journey.city.downcase == "strasbourg"
          = link_to asset_path("strasbourg.html"), class: "btn btn-warning" do
            %i.icon-user
            Journées des utilisateurs
          = link_to "#", class: "btn btn-primary" do
            %i.icon-plus-sign
            &nbsp;Créer une journée dans cette ville

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-globe
          La journée que nous vous avons préparée

.container
  .row
    .span8
      %ul.journey
        - @journey.details.each do |step|
          %li.row.journey-step
            .span1
              .journey-time-container
                .journey-time
                  = step.time
            .span7
              %h4
                - if step.position == 0
                  On dit souvent en France que le petit-déjeuner est le repas le plus important de la journée, c'est pourquoi nous vous proposons
                  de vous rendre au 
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 1
                  Il est important de pouvoir vous repérer dans 
                  =@journey.city.capitalize
                  , nous vous conseillons donc de récupérer un plan de la ville à l'endroit suivant : 
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 2
                  Pour vous mettre en forme pour la journée, nous avons pensé qu'il serait intéressant d'aller visiter le lieu suivant : 
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 3
                  Vous devez avoir faim après cette première visite, notre conseil pour vous remplir la panse est d'aller croquer un morceau à l'adresse suivante :
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 4
                  Le ventre bien rempli, il est temps de reprendre votre chemin à travers les rues de #{@journey.city}.
                  Rendez-vous à
                  = link_to step.venue do
                    = step.venue.name 
                  pour continuer les visites.
                - elsif step.position == 5
                  L'après-midi est loin d'être terminée, il vous reste plein de choses à voir. Destination : 
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 6
                  Vos proches vous en voudront si vous ne leurs ramenez rien, pensez à eux, passez à 
                  = link_to step.venue do
                    = step.venue.name 
                  achetez quelques souvenirs.
                - elsif step.position == 7
                  Cette journée a été dure, après l'effort, le réconfort : il est temps de déguster une spécialité de la région dans un bon restaurant :
                  = link_to step.venue do
                    = step.venue.name 
                - elsif step.position == 8
                  On ne peut pas avoir visité une ville sans y avoir trinqué. Direction 
                  = link_to step.venue do
                    = step.venue.name 
                  où vous pourrez abondement vous désaltérer.
                - elsif step.position == 9
                  Après cette journée forte en émotion, prenez le temps de vous décontracter et de découvrir les nuits chaudes de 
                  =@journey.city.capitalize
                  en allant à #{link_to step.venue.name, step.venue}.
              - if(step.category == "Déjeuner" || step.category == "Diner") && DishHelper.dish_exists_in_region?(@region)
                %p.meal
                  Spécialité locale&nbsp;:
                  =DishHelper.get_dish_from_region(@region)[:name].capitalize
              %p
                = step.category
    .span4
      #map
    - wiki = get_preview_from_wikipedia_for @journey.city
    .span4
      .wikipedia
        %h3
          %i.icon-book
          Un peu d'histoire...
        - unless wiki[:large_image].blank?
          %p
            = image_tag wiki[:large_image]
        - if wiki[:description].blank?
          %p
            %em Pas d'information sur ce lieu provenant de Wikipedia.
        - else
          %p
            = wiki[:description]
          %cite.pull-right
            Wikipedia

.row
  .page-header
    .container
      .span12
        %h2
          %i.icon-book
          Préparez votre séjour en lisant sur le sujet
.container
  .row
    .span12
      - amazon_books = amazon_books_for(@journey.city)
      - if amazon_books.empty?
        %em Aucun résultats reçus de la part d'Amazon. Une erreur est peut-être survenue. Essayez de recharger la page.
      - else
        %ul.thumbnails.masonry.clearfix
          - amazon_books.each do |book|
            %li.span2
              .thumbnail
                = image_tag book[:image] if book[:image].present?
                .caption
                  %h4
                    = book[:title]
                  %p
                    = book[:author]
                  %small
                    Le neuf le moins cher est à
                    = book[:price]
                  = link_to book[:url], target: "_blank", class: "btn btn-primary" do
                    %i.icon-link
                    Voir le produit sur Amazon
