-# encoding: utf-8
!!!
%html
  %head
    %title Insomniie
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if notice
      .flash.flash-notice
        = notice
    - if alert
      .flash.flash-alert
        = alert
    %ul
      %li
        = link_to root_path do
          Accueil
      %li
        = link_to page_path('about') do
          À propos
      %li
        - if user_signed_in?
          Bienvenue #{current_user.name} !
          = link_to destroy_user_session_path, method: :delete, "data-no-turbolink" => true do
            Se déconnecter
        - else
          = link_to user_omniauth_authorize_path(:facebook) do
            Se connecter avec Facebook
    = yield
